<%= render 'layouts/navigationlogin' %>
<div id ="body">
	<div class="container">
		<div id="error">
  <%= render 'layouts/messages' %>
</div>
	<div id="background">
		<h1>Welcome to BookHub</h1>
		<h2>You have successfully logged in</h2>
		<p id="match"></p>
		<p>
      <%= link_to 'Explore Books', '#', class: "btn btn-primary btn-lg" %>
      <% if (@user.is_admin === "true") %>
      	<%= link_to 'Database', users_path, class: "btn btn-primary btn-lg" %>
      <%end%>
		</p>
		<br>
		<br>
		<br>
		<br>
</div>
</div>
</div>
<%= render 'layouts/footer' %>
